In [ ]:
import pandas as pd

## Limpando a base

### Ameaçados

In [ ]:
ameacados = pd.read_excel("CPT/CPT - excel/ameacados-de-morte-2022.xlsx")
ameacados.sample(5)

,UF,Ocorrências*,Famílias,Área,Famílias Expulsas,Famílias Despejadas,Ameaçadas de Despejo,Tentativa ou\nAmeaça de\nExpulsão,Casas Destruídas,Roças Destruídas,Bens Destruídos,Pistolagem,Invasão
20,AP,61.0,4772.0,4350093.0,NaN,3.0,1412.0,28.0,14.0,76.0,4.0,321.0,654.0
0,Centro-Oeste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,RN,20.0,2996.0,22974.0,NaN,200.0,58.0,72.0,200.0,NaN,200.0,NaN,203.0
21,PA,175.0,33231.0,26611383.0,29.0,102.0,958.0,2463.0,310.0,442.0,599.0,1135.0,19783.0
37,Brasil,1572.0,181304.0,80165951.0,596.0,1552.0,24258.0,11571.0,1470.0,3652.0,7249.0,30624.0,96579.0

In [51]:
filters = ["Subtotal", "Nordeste", "Norte", "Sudeste", "Sul", "Centro-Oeste", "Municípios", "Total", "Brasil", 'Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Pará', 'Paraíba', 'Paraná', 'Pernambuco', 'Piauí', 'Rio de Janeiro', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rondônia', 'Roraima', 'Santa Catarina', 'São Paulo', 'Sergipe', 'Tocantins']
ameacados_filter = ameacados[~ameacados.UF.isin(filters)]
ameacados_filter

,UF,Ocorrências*,Famílias,Área,Famílias Expulsas,Famílias Despejadas,Ameaçadas de Despejo,Tentativa ou\nAmeaça de\nExpulsão,Casas Destruídas,Roças Destruídas,Bens Destruídos,Pistolagem,Invasão
1,DF,10.0,551.0,640.0,NaN,NaN,750.0,300.0,NaN,1.0,NaN,400.0,NaN
2,GO,58.0,2472.0,288096.0,36.0,NaN,95.0,52.0,321.0,447.0,448.0,4569.0,3470.0
3,MS,63.0,14638.0,703057.0,12.0,NaN,37.0,3173.0,87.0,NaN,920.0,9382.0,11110.0
4,MT,147.0,9253.0,9397731.0,NaN,330.0,31.0,20.0,57.0,153.0,1061.0,256.0,2608.0
7,AL,24.0,2282.0,2551.0,2.0,NaN,35.0,387.0,NaN,NaN,NaN,40.0,584.0
8,BA,179.0,9546.0,275421.0,36.0,657.0,271.0,579.0,135.0,203.0,1034.0,4182.0,3059.0
9,CE,12.0,1717.0,5362.0,NaN,NaN,113.0,NaN,NaN,NaN,NaN,NaN,1151.0
10,MA,178.0,13345.0,2357175.0,17.0,152.0,1022.0,721.0,55.0,289.0,365.0,1109.0,15639.0
11,PB,18.0,3893.0,21469.0,NaN,NaN,179.0,49.0,NaN,NaN,NaN,20.0,11.0
12,PE,47.0,4659.0,7470.0,300.0,NaN,652.0,180.0,2.0,321.0,338.0,665.0,235.0
13,PI,15.0,127.0,6200.0,20.0,NaN,NaN,NaN,20.0,6.0,20.0,17.0,86.0
14,RN,20.0,2996.0,22974.0,NaN,200.0,58.0,72.0,200.0,NaN,200.0,NaN,203.0
15,SE,3.0,318.0,8125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,AC,60.0,8380.0,2636361.0,NaN,NaN,1631.0,555.0,1.0,NaN,NaN,NaN,817.0
19,AM,152.0,29653.0,15600723.0,NaN,NaN,13361.0,1908.0,16.0,1564.0,1588.0,6551.0,20151.0
20,AP,61.0,4772.0,4350093.0,NaN,3.0,1412.0,28.0,14.0,76.0,4.0,321.0,654.0
21,PA,175.0,33231.0,26611383.0,29.0,102.0,958.0,2463.0,310.0,442.0,599.0,1135.0,19783.0
22,RO,78.0,5442.0,3755614.0,137.0,NaN,1375.0,501.0,NaN,NaN,250.0,333.0,1609.0
23,RR,39.0,13917.0,11459683.0,NaN,NaN,NaN,180.0,125.0,NaN,NaN,125.0,13969.0
24,TO,61.0,3810.0,2431045.0,1.0,NaN,105.0,101.0,113.0,83.0,108.0,504.0,174.0
27,ES,22.0,579.0,22616.0,NaN,NaN,2.0,1.0,NaN,55.0,116.0,38.0,342.0
28,MG,39.0,2835.0,6266.0,NaN,NaN,250.0,230.0,NaN,6.0,88.0,NaN,68.0
29,RJ,14.0,178.0,44527.0,NaN,108.0,102.0,NaN,8.0,NaN,100.0,NaN,NaN
30,SP,19.0,1765.0,23514.0,NaN,NaN,250.0,NaN,NaN,NaN,1.0,901.0,342.0
33,PR,31.0,3433.0,37264.0,6.0,NaN,1550.0,1.0,NaN,1.0,NaN,1.0,43.0
34,RS,28.0,3979.0,37662.0,NaN,NaN,19.0,70.0,1.0,NaN,NaN,70.0,457.0
35,SC,19.0,3533.0,52929.0,NaN,NaN,NaN,NaN,5.0,5.0,9.0,5.0,14.0

### Áreas em conflitos

In [87]:
areas_conflito = pd.read_excel("CPT/CPT - excel/areas-em-conflito-2022.xlsx")
areas_conflito_filter = areas_conflito.dropna(subset=["Nome do Conflito", "Municípios"], how="any")

areas_conflito_filter

,Municípios,Nome do Conflito,Famílias,Área
1,Acrelândia,Faz. do Senhor Viana/Ramal da 7/Estrada AC-475...,28,NaN
2,Acrelândia,Fazenda do Dr. Roberto,41,2000
3,Acrelândia,Faz. da Rondobrás/BR-364/Km 105/Gleba Porto Luiz,12,14000
4,Acrelândia,Faz. do Zé Capim/BR-364/Km 105,40,1800
5,Acrelândia,Faz. Graúna/BR-364,80,2000
...,...,...,...,...
1119,Pium,Assent. Barranco do Mundo/APA Ilha do Bananal/...,70,NaN
1120,"Pium, Formoso do Araguaia, Lagoa da Confusão",Parque Indígena do Araguaia,876,1359000
1121,Porto Nacional,Assentamento Prata,120,2177
1122,Tocantínia,T.I. Xerente,673,167542
1123,"Tocantinópolis, Cachoeirinha, Itaguatins, Maur...",T. I. Apinajé/Apinayés/UHE Serra Quebrada,586,141904

### Assasinatos

In [106]:
assasinatos = pd.read_excel("CPT/CPT - excel/assassinatos - 2022.xlsx", header=1)
assasinatos_filter = assasinatos[~assasinatos["Municípios"].isin(filters)]
assasinatos_filter = assasinatos_filter[assasinatos_filter["Municípios"].notna()]
assasinatos_filter

,Municípios,Nome do Conflito,Data,Nome da Vítima,Vítimas,Idade,Categoria
1,Pracuúba,Território de Uso Tradicional no Entorno do La...,2022-01-23 00:00:00,Gedeão Dias de Oliveira,1,33,Pescador
2,Pracuúba,Território de Uso Tradicional no Entorno do La...,2022-01-23 00:00:00,Elias Penha Gibson,1,34,Pescador
5,Atalaia do Norte,T. I. Vale do Javari,2022-06-05 00:00:00,Bruno da Cunha Araújo Pereira,1,41,Indigenista
6,Atalaia do Norte,T. I. Vale do Javari,2022-06-05 00:00:00,Dominic Mark Phillips,1,57,Jornalista
7,Lábrea,P. A. Monte,2022-02-08 00:00:00,Sebastião David Pereira,1,A,Assentado
8,Lábrea,P. A. Monte,2022-02-08 00:00:00,Maria Aristides da Silva,1,A,Assentado
11,Itaeté,Fazenda 2 Rios/Ocupação Antônio Maero,2022-10-16 00:00:00,Elizeu Barbosa dos Santos,1,A,Sem Terra
12,Itaeté,Fazenda 2 Rios/Ocupação Antônio Maero,2022-11-05 00:00:00,"Adnilson Barbosa do Nascimento, Dena",1,A,Sem Terra
13,Prado,T. I. Cahy-Pequi/Comexatiba/Aldeia Cahy/ Mexat...,2022-09-04 00:00:00,Gustavo Silva da Conceição,1,14,Indígenas
16,Amarante do Maranhão,"T. I. Arariboia/92 Aldeias/Etnias Guajajara, G...",2022-09-03 00:00:00,Janildo Oliveira Guajajara,1,A,Indígenas
17,Amarante do Maranhão,"T. I. Arariboia/92 Aldeias/Etnias Guajajara, G...",2022-09-11 00:00:00,Antônio Cafeteiro Sousa Silva Guajajara,1,A,Indígenas
18,Arame,"T. I. Arariboia/92 Aldeias/Etnias Guajajara, G...",2022-09-03 00:00:00,Jael Carlos Miranda Guajajara,1,34,Indígenas
19,Arari,Povoado Cedro,2022-01-08 00:00:00,"José Lopes Rodrigues, Quiqui",1,55,Quilombola
20,Centro do Guilherme,T. I. Alto Turiaçu,2022-05-14 00:00:00,Sarapo Ka'apor,1,45,Indígenas
21,Pinheiro,Povoado Encanto,2022-06-27 00:00:00,Moacir de Jesus dos Santos Correia,1,A,Posseiro
22,São João do Soter,Com. Quilombola Jacarezinho,2022-04-29 00:00:00,Edvaldo Pereira Rocha,1,A,Quilombola
25,Colniza,Fazenda da família Gringos/Assassinato,2022-11-25 00:00:00,Trabalhador Rural,1,NaN,Trabalhador Rural
26,Confresa,T. I. Porto Velho/Aldeia Pukañu/Kanela do Arag...,2022-02-03 00:00:00,Eliseu Kanela/Eliseu Santos Cardoso,1,44,Indígenas
27,Cotriguaçu,Fazenda Pau D'alho,2022-09-07 00:00:00,Sem Terra não identificado,1,NaN,Sem Terra
30,Amambai,T. I. Amambai,2022-06-24 00:00:00,Vitor Fernandes Kaiowá,1,42,Indígenas
31,Amambai,T. I. Amambai,2022-07-14 00:00:00,Márcio Moreira,1,A,Indígenas
32,Amambai,T. I. Amambai,2022-09-13 00:00:00,Vitorino Sanches,1,60,Indígenas
33,Amambai,Terra Indígena Aldeia Limão Verde,2022-11-12 00:00:00,Cleijomar Rodrigues Vasques,1,16,Indígenas
34,Coronel Sapucaia,T. I. Taquaperi,2022-05-21 00:00:00,Alex Recarte Vasques Lopes,1,18,Indígenas
35,Japorã,Porto Lindo/Ivy - Katu/Guarani - Kaiowá,2022-12-15 00:00:00,Estela Vera,1,67,Indígenas
38,Acará,T. I. Tembé/Turé-Mariquita I e II,2022-09-24 00:00:00,Clebson Barra Portilho,1,41,Trabalhador Assalariado
39,Baião,Ocupação Águas Boas e Encontro das Águas,2022-03-04 00:00:00,José Conrado dos Santos,1,50,Sem Terra
40,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/ Assassinato de A...,2022-01-06 00:00:00,José Gomes - Zé do Lago,1,A,Ambientalista
41,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/ Assassinato de A...,2022-01-06 00:00:00,Márcia Nunes Lisboa,1,A,Ambientalista
42,São Félix do Xingu,NaN,2022-01-06 00:00:00,Joene Nunes Lisboa,1,17,Ambientalista
47,Bom Jesus do Sul,Área em Bom Jesus do Sul,2022-02-15 00:00:00,Arcelino Soares de Souza,1,64,Pequeno proprietário
48,Bom Jesus do Sul,Área em Bom Jesus do Sul,2022-02-15 00:00:00,Rafael Bini,1,36,Pequeno proprietário
51,Barreiros,Engenho Roncadorzinho,2022-02-10 00:00:00,Jonatas de Oliveira dos Santos,1,9,Posseiro
54,Benjamin Constant,T. I. Kandóia-Votouro/Kaingang,2022-06-20 00:00:00,Sem informação,1,A,Indígenas
57,Cacoal,Acampamento Tiago Santos,2022-01-13 00:00:00,Jeferson Nunes de Souza,1,27,Sem Terra
58,Campo Novo de Rondônia,P. A. Nova Floresta/Gl. Rio Alto/Ocupação Nova...,2022-06-17 00:00:00,Wesley Flávio da Silva,1,37,Assentado
59,Cujubim,Soldados da Borracha,2022-08-19 00:00:00,Normande Mariano Barbosa,1,46,Trabalhador Assalariado
60,Cujubim,Soldados da Borracha,2022-08-19 00:00:00,Jheilson Batista Pecla Cordeiro,1,23,Trabalhador Assalariado
61,Porto Velho,Acampamento Tiago Santos,2022-02-17 00:00:00,Ilma Rodrigues dos Santos,1,45,Sem Terra
62,Porto Velho,Acampamento Tiago Santos,2022-02-17 00:00:00,Edson Lima Rodrigues,1,43,Sem Terra
63,Seringueiras,Faz. Bom Futuro/Acamp. Enilson Ribeiro,2022-03-11 00:00:00,Josias Vicente Mafra,1,65,Sem Terra
66,Alto Alegre,T. I. Yanomami/Apiauí/Papiu/Yawaripé,2022-10-02 00:00:00,Cleomar,1,46,Indígenas
67,Alto Alegre,T. I. Yanomami/Apiauí/Papiu/Yawaripé,2022-12-17 00:00:00,Jovem Yanomami,1,21,Indígenas
68,Mucajaí,T. I. Yanomami/Apiauí/Papiu/Yawaripé,2022-04-11 00:00:00,Sem Informação,2,NaN,Indígenas
69,Mucajaí,T. I. Yanomami/Apiauí/Papiu/Yawaripé,2022-04-25 00:00:00,Sem Informação,1,M,Indígenas
72,Araguatins,Faz. Santo Hilário/Acamp. Alto da Paz,2022-12-13 00:00:00,Raimundo Nonato Silva Oliveira,1,46,Sem Terra

### Conflitos

In [61]:
conflitos = pd.read_excel("CPT/CPT - excel/conflitos-por-terra-2022.xlsx", header=35)
conflitos_filter = conflitos.drop(["Unnamed: 2", "Unnamed: 4", "Unnamed: 6", "Unnamed: 8"], axis=1)
conflitos_filter = conflitos_filter.dropna(subset="Município")

conflitos_filter

,Ano,Região,UF,Município,Nome Conflito,Área,Eixo de Violência,Número de Famílias,Tipo de Violência contra a\nPessoa
0,2.022,Centro-Oeste,DF,Brasília (DF),Área da Terracap em Sobradinho/Acamp. Floresta...,150,Violência Terra,100.0,NaN
1,2.022,Centro-Oeste,DF,Brasília (DF),Área no Núcleo Rural Rio Preto/Ocupação Ana Pr...,60,Violência Terra,300.0,NaN
2,2.022,Centro-Oeste,DF,Brasília (DF),Assent. na região de Planaltina,NaN,Violência Terra,1.0,NaN
3,2.022,Centro-Oeste,DF,Brasília (DF),Núcleo Rural Alexandre\nGusmão/Faz. Jatobazinh...,430,Violência Terra,150.0,NaN
5,2.022,Centro-Oeste,GO,Aruanã (GO),Faz. Ariká/Ilha Redonda/T.I. Karajá,705,Violência Terra,50.0,NaN
...,...,...,...,...,...,...,...,...,...
1075,2.022,Sul,SC,Palhoça (SC),T.I. Cambirela/Guarani\nM'bya/Baixada do,NaN,Violência Terra,1.0,NaN
1076,2.022,Sul,SC,Palhoça (SC),T.I. Massiambu/Baixada do\nMassiambu,41,Violência Terra,1.0,NaN
1077,2.022,Sul,SC,Palhoça (SC),T. I. Morro dos Cavalos/Itaty/Guarani\nM'Bya/N...,1.998,Violência Terra,75.0,Intimidação
1078,2.022,Sul,SC,Palhoça (SC),T. I. Praia de Fora/Guarani/Baixada\nMassiambu,NaN,Violência Terra,4.0,NaN
1079,2.022,Sul,SC,Urussanga (SC),Comunidade Rio Carvão,NaN,Violência Terra,1.0,Contaminação\npor minérios

### Ocupação

In [63]:
ocupacao = pd.read_excel("CPT/CPT - excel/ocupacoes-retomadas-2022.xlsx", header=1)
ocupacao_filter = ocupacao[~ocupacao["Municípios"].isin(filters)]
ocupacao_filter = ocupacao_filter.dropna(subset="Nome do Imóvel")
ocupacao_filter

,Municípios,Nome do Imóvel,Data,Área,Famílias
1,"Capixaba, Senador Guiomard",Seringal Capatará,2022-02-28 00:00:00,44420,35
4,Arapiraca,Faz. Pau Ferro/Ocupação,2022-02-28 00:00:00,NaN,120
5,Jequiá da Praia,Faz. Willames/Us. Sinimbu,2022-02-25 00:00:00,NaN,96
6,São Miguel dos Campos,Faz. Barro Branco/Us. Sinimbu,2022-02-25 00:00:00,NaN,142
9,Água Fria,Fazenda Reunidas Vitória/Ocupação MST,2022-07-30 00:00:00,NaN,75
...,...,...,...,...,...
100,Presidente Bernardes,Fazenda Guarucaia/Fazenda Santa Carmem,2022-02-26 00:00:00,NaN,NaN
101,Rosana,Fazenda Santa Rita do Pontal,2022-06-16 00:00:00,2798,200
102,Santo Anastácio,Fazenda Vitória,2022-02-26 00:00:00,NaN,NaN
103,Teodoro Sampaio,Fazenda Cachoeirinha,2022-02-26 00:00:00,NaN,NaN
106,Araguaína,Faz. Inhumas-Guarabu/Ocup. Vale do Hebron,2022-06-30 00:00:00,NaN,100

### Tentativas de assassinato

In [66]:
tentativas = pd.read_excel("CPT/CPT - excel/tentativas-de-assassinatos-2022.xlsx", header=1)
tentativas_filter = tentativas[~tentativas["Municípios"].isin(filters)]
tentativas_filter = tentativas_filter.dropna(subset="Nome do Conflito")
tentativas_filter

,Municípios,Nome do Conflito,Data,Vítimas,Idade,Categoria
1,Bujari,Floresta Estadual do Antimary,2022-07-22 00:00:00,1,A,Seringueiro
4,Maceió,Fazenda Santa Helena,2022-02-01 00:00:00,2,A,Sem Terra
7,Atalaia do Norte,T. I. Vale do Javari,2022-04-02 00:00:00,2,A,Indígenas
8,Atalaia do Norte,T. I. Vale do Javari,2022-04-15 00:00:00,2,A,Indígenas
9,Atalaia do Norte,T. I. Vale do Javari,2022-11-09 00:00:00,1,A,Indígenas
...,...,...,...,...,...,...
78,Charrua,T. I. Ligeiro/Barreira Sanitária,2022-07-30 00:00:00,1,A,Indígenas
79,Tenente Portela,T. I. Guarita,2022-07-22 00:00:00,1,A,Indígenas
82,Governador Jorge Teixeira,P. A. Nova Floresta/Gl. Rio Alto/Ocupação Nova...,2022-05-31 00:00:00,1,A,Assentado
83,Guajará-Mirim,T. I. Igarapé Lage,2022-02-16 00:00:00,10,NaN,Funcionário Público
84,Nova Mamoré,T. I. Igarapé Lage,2022-07-05 00:00:00,1,NaN,Funcionário Público

### Trabalho escravo

In [72]:
escravo = pd.read_excel("CPT/CPT - excel/trabalho-escravo-2019.xlsx", header=2)
escravo_filter = escravo[~escravo["Municipios"].isin(filters)]
escravo_filter = escravo_filter.dropna(subset="Municipios").drop("Unnamed: 0", axis=1)
escravo_filter

,Municipios,Nome do Conflito,Data da\nDenúncia,Nº\nTrab.Denúncia,Crianças/Adoles\ncentes,Nº Trab.\nLibertos,Procedência,Violência,Tipo de Trabalho
0,Baianópolis,Fazenda de Café,2019-07-18 00:00:00,18,NaN,NaN,AL,NaN,Café
1,Ilhéus,Fazenda Felicidade,2019-10-15 00:00:00,5,NaN,NaN,SI,NaN,Cacau
2,Ipirá,Faz. Santa Rita e\nSussuarana,2019-03-18 00:00:00,4,NaN,2,SI,NaN,Pecuária
3,Ribeirão do Largo,Fazenda Guanabara,2019-12-30 00:00:00,3,NaN,3,SI,NaN,Pecuária
4,Uruçuca,Fazenda Campinheiro,2019-12-30 00:00:00,1,NaN,1,SI,NaN,Cacau
...,...,...,...,...,...,...,...,...,...
142,São João da Baliza,Fazenda Estrela Zil/Vicinal 21/Gleba Baliza,2019-02-10 00:00:00,6,NaN,6,SI,NaN,Extração de madeira (desmatamento)
146,Municipios,Nome do Conflito,Data da\nDenúncia,Nº\nTrab.Denúncia,Crianças/Adoles\ncentes,Nº Trab.\nLibertos,Procedência,Violência,Tipo de Trabalho
147,Passos Maia,Fazenda São Marcos III,2019-09-16 00:00:00,5,NaN,5,SI,NaN,Pinus
151,Municipios,Nome do Conflito,Data da\nDenúncia,Nº\nTrab.Denúncia,Crianças/Adoles\ncentes,Nº Trab.\nLibertos,Procedência,Violência,Tipo de Trabalho
152,Bernardo Sayão,Fazenda Macedônia,2019-01-01 00:00:00,4,NaN,4,TO,Contaminaçã o por\nagrotóxico,Pecuária

## Salvando arquivos

In [107]:
with pd.ExcelWriter("CPT/CPT.xlsx", mode="w", engine="openpyxl") as writer:
    ameacados_filter.to_excel(writer, sheet_name="Ameaçados", index=False)  
    areas_conflito_filter.to_excel(writer, sheet_name="Áreas em Conflito", index=False)
    assasinatos_filter.to_excel(writer, sheet_name="Assassinatos", index=False)
    conflitos_filter.to_excel(writer, sheet_name="Conflitos por Terra", index=False)
    ocupacao_filter.to_excel(writer, sheet_name="Ocupações Retomadas", index=False)
    tentativas_filter.to_excel(writer, sheet_name="Tentativas de Assassinatos", index=False)
    escravo_filter.to_excel(writer, sheet_name="Trabalho Escravo", index=False)

## Pegando informações do CPT

In [80]:
import unidecode
import pandas as pd
import geopandas as gpd


def listar_mun(column, sep):  
    muns = set()
    for i in column.__iter__():
        if i.find(sep) != -1:
            i = i.split(sep)
            for j in i:
                muns.add(j)
        else:
            muns.add(i)
    return muns

def remover_acentos(texto):
    return unidecode.unidecode(texto)

In [81]:
cnuc = gpd.read_file("areas-PA/áreas-selecionadas/cnuc/cnuc.shp")
cnuc

,nome_uc,ha_total,uf,municipio,situacao,c_sigef,c_alertas,sigef_km2,alerta_km2,geometry
0,ÁREA DE PROTEÇÃO AMBIENTAL DO TAPAJÓS,2040313.63,PARÁ,"itaituba , jacareacanga , novo progresso , tra...",Ativo,1011,3031,14844.928463,369.630673,"MULTIPOLYGON (((-57.63393 -6.12859, -57.63381 ..."
1,ÁREA DE PROTEÇÃO AMBIENTAL TRIUNFO DO XINGU,1679623.65,PARÁ,"altamira , sao felix do xingu",Ativo,3382,2960,23004.908674,1810.394948,"POLYGON ((-52.75802 -6.07755, -52.75614 -6.076..."
2,ESTAÇÃO ECOLÓGICA DA TERRA DO MEIO,3373111.24,PARÁ,"altamira , sao felix do xingu",Ativo,247,423,25851.858773,117.797232,"POLYGON ((-52.98983 -5.48073, -52.99272 -5.481..."

Pegando os municípios

In [82]:
muns = listar_mun(cnuc["municipio"], ' , ')
muns

{'altamira',
 'itaituba',
 'jacareacanga',
 'novo progresso',
 'sao felix do xingu',
 'trairao'}

### Ameaçados

In [79]:
ameacados = pd.read_excel("CPT/CPT.xlsx", sheet_name="Ameaçados")
ameacados[ameacados["UF"] == "PA"]

,UF,Ocorrências*,Famílias,Área,Famílias Expulsas,Famílias Despejadas,Ameaçadas de Despejo,Tentativa ou\nAmeaça de\nExpulsão,Casas Destruídas,Roças Destruídas,Bens Destruídos,Pistolagem,Invasão
16,PA,175,33231,26611383,29.0,102.0,958.0,2463.0,310.0,442.0,599.0,1135.0,19783.0

### Áreas em conflito

In [90]:
areas_conflito = pd.read_excel("CPT/CPT.xlsx", sheet_name="Áreas em Conflito")
areas_conflito["mun"] = areas_conflito["Municípios"].apply(remover_acentos)
areas_conflito["mun"] = areas_conflito["mun"].str.lower()

areas_conflito[areas_conflito["mun"].isin(muns)]

,Municípios,Nome do Conflito,Famílias,Área,mun
695,Altamira,T. I. Xipáia Kuruáia/UHE Belo Monte,50,179000,altamira
696,Altamira,Resex Riozinho do Anfrísio,51,736,altamira
697,Altamira,Resex do Iriri/Gleba Curuá,55,NaN,altamira
698,Altamira,T.I. Baú/Kayapó,47,1540930,altamira
725,Itaituba,PAE Mangabal e Montanha/PCH's Tapajós,101,NaN,itaituba
726,Itaituba,Reserva Indígena Praia do Mangue/Barreira Sani...,42,31,itaituba
727,Itaituba,Reserva Indígena Praia do Índio,28,28,itaituba
729,Jacareacanga,T. I. Munduruku/UHE Tapajós,1630,2381795,jacareacanga
736,Novo Progresso,T. I. Kayapó/Mebengokré/Menkrãgnoti,1,NaN,novo progresso
772,São Félix do Xingu,P.A. Tancredo Neves/Colonia União Tancredo Neves,368,17265,sao felix do xingu
773,São Félix do Xingu,Faz. Canaã/Pau Brasil,50,NaN,sao felix do xingu
774,São Félix do Xingu,Assent. Belauto/Faz. Jaguara,412,NaN,sao felix do xingu
775,São Félix do Xingu,Vila Novo Horizonte/Casa de Tábua,100,NaN,sao felix do xingu
776,São Félix do Xingu,Faz. Terra Roxa/Com. Terra Roxa/Faz. São Félix...,22,11900,sao felix do xingu
777,São Félix do Xingu,Complexo Divino Pai Eterno/Acamp. Novo Oeste,152,8400,sao felix do xingu
778,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/Assassinato de At...,1,4996,sao felix do xingu
779,São Félix do Xingu,Ocupação Lago Azul,110,NaN,sao felix do xingu

In [97]:
areas_conflito_filter = pd.DataFrame(columns=areas_conflito.columns)
for mun in muns:
    areas_conflito_filter = pd.concat([areas_conflito_filter, areas_conflito[areas_conflito["mun"].str.contains(mun)]])

areas_conflito_filter

,Municípios,Nome do Conflito,Famílias,Área,mun
736,Novo Progresso,T. I. Kayapó/Mebengokré/Menkrãgnoti,1,NaN,novo progresso
737,"Novo Progresso, Altamira",PDS Terra Nossa,47,149842,"novo progresso, altamira"
512,"Apiacás, Jacareacanga",T. I. Kayabi,192,1053257,"apiacas, jacareacanga"
729,Jacareacanga,T. I. Munduruku/UHE Tapajós,1630,2381795,jacareacanga
559,"Matupá, Peixoto de Azevedo, Altamira, São Féli...",T. I. Menkragnoti/Kayapó,400,NaN,"matupa, peixoto de azevedo, altamira, sao feli..."
695,Altamira,T. I. Xipáia Kuruáia/UHE Belo Monte,50,179000,altamira
696,Altamira,Resex Riozinho do Anfrísio,51,736,altamira
697,Altamira,Resex do Iriri/Gleba Curuá,55,NaN,altamira
698,Altamira,T.I. Baú/Kayapó,47,1540930,altamira
699,"Altamira, Anapu, São Félix do Xingu",E. Eco. Terra do Meio/Serra do Pardo/Barreira ...,1,NaN,"altamira, anapu, sao felix do xingu"
700,"Altamira, Anapu, São Félix do Xingu, Senador J...",T. I. Trincheira-Bacajá/Índios Xikrin/UHE Belo...,187,1651000,"altamira, anapu, sao felix do xingu, senador j..."
701,"Altamira, Guarantã do Norte, Matupá",T. I. Panará,136,499740,"altamira, guaranta do norte, matupa"
702,"Altamira, Matupá, Peixoto de Azevedo, São Féli...",T.I. Menkragnoti,316,4914254,"altamira, matupa, peixoto de azevedo, sao feli..."
703,"Altamira, Medicilândia, Rurópolis, Uruará",T. I. Cachoeira Seca do Iriri/Índios Arara/UHE...,22,733688,"altamira, medicilandia, ruropolis, uruara"
704,"Altamira, São Félix do Xingu",Área de Proteção Ambiental-APA Triunfo do Xing...,2000,1679280,"altamira, sao felix do xingu"
737,"Novo Progresso, Altamira",PDS Terra Nossa,47,149842,"novo progresso, altamira"
780,"São Félix do Xingu, Altamira",Faz. Bom Jardim/Gl. Assurini/UHE Belo Monte,76,NaN,"sao felix do xingu, altamira"
781,"São Félix do Xingu, Altamira",T. I. Apyterena/Apyterewa/Parakanã,182,773000,"sao felix do xingu, altamira"
784,"Senador José Porfírio, Altamira, Anapu",T. I. Ituna/Itatá,1,142402,"senador jose porfirio, altamira, anapu"
559,"Matupá, Peixoto de Azevedo, Altamira, São Féli...",T. I. Menkragnoti/Kayapó,400,NaN,"matupa, peixoto de azevedo, altamira, sao feli..."
699,"Altamira, Anapu, São Félix do Xingu",E. Eco. Terra do Meio/Serra do Pardo/Barreira ...,1,NaN,"altamira, anapu, sao felix do xingu"
700,"Altamira, Anapu, São Félix do Xingu, Senador J...",T. I. Trincheira-Bacajá/Índios Xikrin/UHE Belo...,187,1651000,"altamira, anapu, sao felix do xingu, senador j..."
702,"Altamira, Matupá, Peixoto de Azevedo, São Féli...",T.I. Menkragnoti,316,4914254,"altamira, matupa, peixoto de azevedo, sao feli..."
704,"Altamira, São Félix do Xingu",Área de Proteção Ambiental-APA Triunfo do Xing...,2000,1679280,"altamira, sao felix do xingu"
717,"Cumaru do Norte, Bannach, Ourilândia do Norte,...",T. I. Kayapó,1137,3284005,"cumaru do norte, bannach, ourilandia do norte,..."
772,São Félix do Xingu,P.A. Tancredo Neves/Colonia União Tancredo Neves,368,17265,sao felix do xingu
773,São Félix do Xingu,Faz. Canaã/Pau Brasil,50,NaN,sao felix do xingu
774,São Félix do Xingu,Assent. Belauto/Faz. Jaguara,412,NaN,sao felix do xingu
775,São Félix do Xingu,Vila Novo Horizonte/Casa de Tábua,100,NaN,sao felix do xingu
776,São Félix do Xingu,Faz. Terra Roxa/Com. Terra Roxa/Faz. São Félix...,22,11900,sao felix do xingu
777,São Félix do Xingu,Complexo Divino Pai Eterno/Acamp. Novo Oeste,152,8400,sao felix do xingu
778,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/Assassinato de At...,1,4996,sao felix do xingu
779,São Félix do Xingu,Ocupação Lago Azul,110,NaN,sao felix do xingu
780,"São Félix do Xingu, Altamira",Faz. Bom Jardim/Gl. Assurini/UHE Belo Monte,76,NaN,"sao felix do xingu, altamira"
781,"São Félix do Xingu, Altamira",T. I. Apyterena/Apyterewa/Parakanã,182,773000,"sao felix do xingu, altamira"
725,Itaituba,PAE Mangabal e Montanha/PCH's Tapajós,101,NaN,itaituba
726,Itaituba,Reserva Indígena Praia do Mangue/Barreira Sani...,42,31,itaituba
727,Itaituba,Reserva Indígena Praia do Índio,28,28,itaituba

### Assasinatos

In [108]:
assassinatos =  pd.read_excel("CPT/CPT.xlsx", sheet_name="Assassinatos")
assassinatos["mun"] = assassinatos["Municípios"].str.lower()
assassinatos["mun"] = assassinatos["mun"].apply(remover_acentos)


assassinatos[assassinatos["mun"].isin(muns)]

,Municípios,Nome do Conflito,Data,Nome da Vítima,Vítimas,Idade,Categoria,mun
27,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/ Assassinato de A...,2022-01-06,José Gomes - Zé do Lago,1,A,Ambientalista,sao felix do xingu
28,São Félix do Xingu,Faz. Baú/Cachoeira da Mucura/ Assassinato de A...,2022-01-06,Márcia Nunes Lisboa,1,A,Ambientalista,sao felix do xingu
29,São Félix do Xingu,NaN,2022-01-06,Joene Nunes Lisboa,1,17,Ambientalista,sao felix do xingu

### Conflitos por Terra

In [113]:
def separar_estado(mun):
    return mun.split("(")[0]

conflitos = pd.read_excel("CPT/CPT.xlsx", sheet_name="Conflitos por Terra")
conflitos["mun"] = conflitos["Município"].apply(separar_estado)
conflitos["mun"] = conflitos["mun"].str.lower()
conflitos["mun"] = conflitos["mun"].apply(remover_acentos)

conflitos[conflitos["mun"].isin(muns)]

Empty DataFrame
Columns: [Ano, Região, UF, Município, Nome Conflito, Área, Eixo de Violência, Número de Famílias, Tipo de Violência contra a
Pessoa, mun]
Index: []

### Ocupação

In [115]:
ocupacao = pd.read_excel("CPT/CPT.xlsx", sheet_name="Ocupações Retomadas")
ocupacao["mun"] = ocupacao["Municípios"].apply(remover_acentos)
ocupacao["mun"] = ocupacao["mun"].str.lower()

ocupacao_filter = pd.DataFrame(columns=ocupacao.columns)
for mun in muns:
    ocupacao_filter = pd.concat([ocupacao_filter, ocupacao[ocupacao["mun"].str.contains(mun)]])

ocupacao_filter

/tmp/ipykernel_101832/2739170059.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ocupacao_filter = pd.concat([ocupacao_filter, ocupacao[ocupacao["mun"].str.contains(mun)]])

,Municípios,Nome do Imóvel,Data,Área,Famílias,mun
45,São Félix do Xingu,Faz. Canaã/Pau Brasil,2022-11-10,NaN,50.0,sao felix do xingu

### Tentativas de assasinato

In [117]:
tentativas =  pd.read_excel("CPT/CPT.xlsx", sheet_name="Tentativas de Assassinatos")
tentativas["mun"] = tentativas["Municípios"].str.lower()
tentativas["mun"] = tentativas["mun"].apply(remover_acentos)


tentativas[tentativas["mun"].isin(muns)]

Empty DataFrame
Columns: [Municípios, Nome do Conflito, Data, Vítimas, Idade, Categoria, mun]
Index: []

### Trabalho escravo

In [119]:
escravo = pd.read_excel("CPT/CPT.xlsx", sheet_name="Trabalho Escravo")

escravo["mun"] = escravo["Municipios"].str.lower()
escravo["mun"] = escravo["mun"].apply(remover_acentos)


escravo[escravo["mun"].isin(muns)]

Empty DataFrame
Columns: [Municipios, Nome do Conflito, Data da
Denúncia, Nº
Trab.Denúncia, Crianças/Adoles
centes, Nº Trab.
Libertos, Procedência, Violência, Tipo de Trabalho, mun]
Index: []